form {
    width: 60%;
    padding: 1em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    }
    legend {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    text-transform: uppercase;}
    button {
        height: 45px;
        padding: 10px 24px;
        
        border-radius: 12px;
        text-align: center;
        font-size: 16px;
        text-shadow: 0px 1px 1px #ffffff;
      border-bottom: 2px solid #b2b2b2;
    }
    
    label {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1xp;
        padding: 2x;
    }
    #stars {
        display: inline-flex;
    }
    
    input {
        height: 30px;
        border-radius: 5px;
        padding: 5px 5px 5px 30px;
    }
    input:focus {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;
    }
    .title {
        margin-left: 10px;
    }
    fieldset {
        margin: 0;
        padding: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 5px;
        height : 300px;
        width: 450px;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        padding: 20px;
    
     }
    
    .comments {
        width: 100%;
        width: auto;
    }
    
    #stars > input { 
        display: none;
    } 
    #stars {
      direction: rtl;
      text-align: center;
        width: 100px;
        border: 0;
      font-size: 0;
    }
    
    #stars label {
      font-size: 16px;
        font-size: 1.5rem;
      line-height: 24px; 
        line-height: 2rem;
      position: relative;
      text-align: center;
      width: 1em;
      height: 1em;
    }
    #stars label:before {
       content: "☆";
       position: absolute;
       margin: 0;
       text-indent: 0;
       line-height: 1em;
       color: #aaa;
    }
    #stars label:hover:before,
    #stars label:hover ~ label:before,
    #stars input:checked ~ label:before {
       content: "★";
       color: #ffbb04;
    }
    #stars label:active {
     color: #ccc;
      top: 1px;
    }
    
    #favorite {
        margin: 0;
        width: 10%;
        height:16px;
    }